<% const d = new Date()
let year = d.getFullYear() %>
<footer class="text-white bg-black">

  <div class="flex justify-around items-center p-6">
    <img class="rounded-full w-1/6" src="/images/me.jpg"
      alt="Joshua's Casual Image">
    <div>
      <h2 class="font-dancing-script text-3xl text-center sm:text-6xl">Joshua O. Olaoye</h2>
      <p class="font-tenor-sans text-center tracking-widest">WEB DEVELOPER | IT
        Specialist</p>
    </div>
  </div>
  <ul class="flex flex-row justify-center">
    <li class="p-2">
      <a href="https://github.com/jayhklasiq" target="_blank">
        <img class="hover:bg-slate-100 rounded-full" src="/images/github.svg"
          alt="github icon">
      </a>
    </li>
    <li class="p-2">
      <a href="mailto:joshvolx@gmail.com">
        <img class="hover:bg-slate-100 rounded-full" src="/images/gmail.svg"
          alt="gmail icon">
      </a>
    </li>
    <li class="p-2">
      <a href="https://www.linkedin.com/in/joshua-o-olaoye/" target="_blank">
        <img class="hover:bg-slate-100 rounded-full" src="/images/linkedin.svg"
          alt="linkedin icon">
      </a>
    </li>
  </ul>
  <p class="copyright text-center font-tenor-sans tracking-widest"> &copy; <%=
    year %> Jayh
    Klasiq</p>
</footer>