<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%- title %> | Jayh Klasiq </title>
  <meta name="description"
    content="This is a simple design website that contains everything you need to know about 'JOSHUA O. OLAOYE' popularly known as JAYH KLASIQ">
  <meta name="author" content="Joshua O. Olaoye">
  <meta property="og:url"
    content="https://jayhklasiq.github.io/iamjayhklasiq/">
  <meta property="og:type" content="webpage">
  <meta property="og:title" content="Homepage for IAMJAYHKLASIQ">
  <meta property="og:description"
    content="This is a simple page portfolio website for Jayhklasiq.">
  <meta property="og:image"
    content="https://scontent.facc5-2.fna.fbcdn.net/v/t39.30808-6/331349152_1333638284101163_8020748355023949435_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFNOklbsUfmwYFkCOmwEw_-FJTBOHYmM-MUlME4diYz46QopyCi1OAhyvThjAAxgkrEiOMWZHwtIhdlPMs2I6BS&_nc_ohc=ylzvPnvR1_oAX-buvRP&_nc_zt=23&_nc_ht=scontent.facc5-2.fna&oh=00_AfAqCfkGqRKFsIL5XgwPOBanKBc4OdNyUvPh_mr9qTWLDw&oe=64BE5F5C">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title"
    content="Welcome to IAMJAYHKLASIQ homepage.">
  <meta name="twitter:description"
    content="Joshua Olaoye Portfolio and everything you need to know about him.">
  <meta name="twitter:image"
    content="https://scontent.facc5-2.fna.fbcdn.net/v/t39.30808-6/331349152_1333638284101163_8020748355023949435_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFNOklbsUfmwYFkCOmwEw_-FJTBOHYmM-MUlME4diYz46QopyCi1OAhyvThjAAxgkrEiOMWZHwtIhdlPMs2I6BS&_nc_ohc=ylzvPnvR1_oAX-buvRP&_nc_zt=23&_nc_ht=scontent.facc5-2.fna&oh=00_AfAqCfkGqRKFsIL5XgwPOBanKBc4OdNyUvPh_mr9qTWLDw&oe=64BE5F5C">
  <link rel="stylesheet" href="/css/output.css">
</head>