<nav class="flex items-center p-6 bg-black text-white">
  <div class="flex-none">
    <a href="/">
      <img class="w-14" src="/images/jk.png" alt="site logo">
    </a>
  </div>
  <div class="flex-1">
    <ul
      class="font-tenor-sans flex flex-row justify-around font-semibold">
      <li class="hover:text-[#D29C8E]">
        <a class href="/">
          BIO
        </a>
      </li>
      <li class="hover:text-[#D29C8E]">
        <a href="/portfolio">
          PROJECTS
        </a>
      </li>
      <li class="hover:text-[#D29C8E]">
        <a href="/cv">
          CV
        </a>
      </li>
    </ul>
  </div>
</nav>