<div class="@container flex flex-col 2xl:flex-row lg:mx-14 px-8 md:px-44">
  <div class="flex-1 text-white my-0 mx-auto md:flex-grow text-left">
    <h1 class="font-crimson-pro text-8xl sm:text-9xl text-[#D29C8E]">
      JOSHUA
    </h1>
    <h1 class="font-crimson-pro text-8xl sm:text-9xl pb-5 text-[#D29C8E]">
      OLAOYE
    </h1>
    <p class="font-tenor-sans pb-5 font-semibold md:text-xl">I MAKE WEBSITES
      THAT</p>
    <h3 class="font-crimson-pro text-6xl text-[#D29C8E] pb-5">STAND
      OUT
    </h3>
    <div class="mr-[10%]">
      <p class="font-tenor-sans pb-3 text-sm md:text-base">Hi, I'm Joshua, a
        25-year-old final-year student at Brigham Young
        University - Idaho. I'm majoring in Software Engineering with a focus
        on Web Development. My journey in the tech field began as a
        Computer Repair Technician, and over the years, I've progressed to the
        role of an IT Specialist.
      </p>
      <p class="font-tenor-sans pb-3 text-sm md:text-base">
        After a two-year deferment, I returned to school in 2022 and
        maintained a standard GPA of 3.54 out of 4.0. Along the way, I've
        earned valuable certifications, including one in Web and Computer
        Programming and another in Web Frontend from my university.
        Additionally, I hold a vocational training certification in computer
        hardware repair and maintenance, obtained in 2018 from a company
        in Ivory Coast based in Nigeria.
      </p>
      <p class="font-tenor-sans pb-3 text-sm md:text-base">
        I'm not simply limited to technical expertise; in 2023, I added a
        Digital
        Marketing Certification from Google to my credentials. Each step in
        my journey has been a building block, and I'm excited to continue
        growing in the dynamic field of technology.
      </p>
    </div>
  </div>

  <div class="flex-1 pb-4 md:flex-grow portrait">
    <img class="w-fit lg:my-0 lg:mx-auto md:mx-0 md:my-0"
      src="/images/portrait-me.jpg"
      alt="Portrait of Joshua">
  </div>
</div>

<div class="text-white md:text-center">
  <h2 class="font-crimson-pro text-6xl text-center">FREELANCE PROJECTS I'VE
    WORKED ON (FRONTEND DEV)</h2>
  <ul class="flex flex-col md:flex-row justify-evenly mx-4 md:mx-40">
    <li class="text-center font-crimson-pro text-4xl text-[#D29C8E] p-5">
      <a class="text-center p-4" href="https://buildboss.com/" target="_blank">
        <img class="rounded-md pb-5 mx-auto" src="/images/buildboss.jpeg"
          alt="buildboss official logo">
        <span
          class="flex items-center justify-center hover:text-white">BuildBoss
          LLC</span>
      </a>
    </li>
    <li class="text-center font-crimson-pro text-4xl text-[#D29C8E] p-5">
      <a class="text-center p-4" href="https://sucasa.com.gh/" target="_blank">
        <img class="rounded-md pb-5 items-center mx-auto"
          src="/images/sucasa.jpeg" alt="sucasa official logo">
        <span class="flex items-center justify-center hover:text-white">SuCasa
          Properties</span>
      </a>
    </li>
  </ul>
</div>
