<div class="@container flex flex-col md:flex-row px-8 md:px-44 gap-x-10">
  <div class="flex-1 text-white my-0 mx-auto md:flex-grow text-center">
    <h1 class="font-crimson-pro text-8xl md:text-6xl text-[#D29C8E]">
      JOSHUA
    </h1>
    <h1 class="font-crimson-pro text-8xl md:text-6xl pb-5 text-[#D29C8E]">
      OLAOYE
    </h1>
    <hr class="pb-5">
    <p class="font-tenor-sans pb-5 font-semibold md:text-xl">I MAKE WEBSITES
      THAT</p>
    <h3 class="font-crimson-pro text-4xl md:text-3xl text-[#D29C8E] pb-5">STAND
      OUT</h3>
    <p class="font-tenor-sans pb-3 text-sm md:text-base">
      After a two-year deferment, I returned to school in 2022 and
      currently maintain a standard GPA of 3.54 out of 4.0. Along the way, I've
      earned valuable certifications, including one in Web and Computer
      Programming and another in Web Frontend from my university.
      Additionally, I hold a vocational training certification in computer
      hardware repair and maintenance, obtained in 2018 from an Ivorian company
      based in Nigeria.
    </p>
  </div>

  <div class="flex-1 pb-4 md:flex-grow portrait">
    <img class="w-full" src="/images/portrait-me.jpg" alt="Portrait of Joshua">
  </div>
</div>

<div class="text-white md:text-center">
  <h2 class="font-crimson-pro text-6xl text-center">FREELANCE PROJECTS I'VE
    WORKED ON (FRONTEND DEV)</h2>
  <ul class="flex flex-col md:flex-row justify-evenly mx-4 md:mx-40">
    <li class="text-center font-crimson-pro text-4xl text-[#D29C8E] p-5">
      <a class="text-center p-4" href="https://buildboss.com/" target="_blank">
        <img class="rounded-md pb-5 mx-auto" src="/images/buildboss.jpeg"
          alt="buildboss official logo">
        <span
          class="flex items-center justify-center hover:text-white">BuildBoss
          LLC</span>
      </a>
    </li>
    <li class="text-center font-crimson-pro text-4xl text-[#D29C8E] p-5">
      <a class="text-center p-4" href="https://sucasa.com.gh/" target="_blank">
        <img class="rounded-md pb-5 items-center mx-auto"
          src="/images/sucasa.jpeg" alt="sucasa official logo">
        <span class="flex items-center justify-center hover:text-white">SuCasa
          Properties</span>
      </a>
    </li>
  </ul>
</div>
