<div class="flex flex-col xl:flex-row px-8 md:px-44 gap-x-10">

  <div class="flex flex-col">
    <a
      href="https://github.com/jayhklasiq/jk_store" target="_blank">
      <h2
        class="hover:text-white font-crimson-pro text-4xl md:text-3xl text-[#D29C8E] p-5">
        JK Shopping App
      </h2>
    </a>
    <p class="text-white">
      Utilizing encapsulation, inheritance, abstraction, and polymorphism, I
      created an shopping app that allows user to shop for items available, add
      to cart and check out. The application uses txt and json files to store
      data.
    </p>
    <iframe class="w-full" height="250"
      src="https://www.youtube.com/embed/Cx2NS4v-Fmg" title="JK Shopping Cart"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="flex flex-col">
    <a href="https://github.com/jayhklasiq/AU" target="_blank">
      <h2
        class="hover:text-white font-crimson-pro text-4xl md:text-3xl text-[#D29C8E] p-5">
        Adeola University
      </h2>
    </a>
    <p class="text-white">
      Trying my hands on ASP .NET and using the CRUD operations, I created a
      demo university enrollment system.
    </p>
    <iframe class="w-full" height="250"
      src="https://www.youtube.com/embed/bvKhsq7veP8"
      title="Adeola University   ASP  NET + MVC" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="flex flex-col">
    <a href="https://github.com/jayhklasiq/dotnet/tree/main/Notes"
      target="_blank">
      <h2
        class="hover:text-white font-crimson-pro text-4xl md:text-3xl text-[#D29C8E] p-5">
        Xamarin Notes
      </h2>
    </a>
    <p class="text-white">
      My first attempt at making an android application using ASP .NET and
      Xamarin framework. Thw Note features includes: Saving Notes, Editing
      Notes, Deleting Notes, Date and Time of Modification.
    </p>
    <iframe class="w-full" height="250"
      src="https://www.youtube.com/embed/5ODhCXYNV-s"
      title="Notes Android Mobile Application - Xamarin" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>

  <div class="flex flex-col">
    <a href="https://github.com/jayhklasiq/dotnet/tree/main/MvcMovie"
      target="_blank">
      <h2
        class="hover:text-white font-crimson-pro text-4xl md:text-3xl text-[#D29C8E] p-5">
        Movie App
      </h2>
    </a>
    <p class="text-white">
      Using EntityFrameworks, ASP .NET and BootStrap CSS, I designed a movie
      application that allows user to add, edit and delete movies from a
      catalog.
    </p>
    <iframe class="w-full" height="250"
      src="https://www.youtube.com/embed/W7SYtOQdOE8"
      title="Movie App   ASP MVC" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

</div>